<!DOCTYPE html>
<html>
<head>
    <title>PgZebra :: Configured DBs</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <h3>{{message}}</h3>
        <h3>Databases found</h3>
        <ul>
        {% for di in db_info: %}
            <li><a href="/{{di['dbname']}}">{{di['dbname']}}</a> [{{di['hostname']}}:{{di['port']}}]</li>
        {% endfor %}
        </ul>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {});
    </script>
</body>
</html>