<!DOCTYPE html>
<html>
<head>
    <title>PgZebra :: {{dbname}}</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <h3>{{message}}</h3>
        <h3>Tables for <abbr title="{{hostname}}:{{port}}">{{dbname}}</abbr></h3>
        <ul>
        {% for table, data in tables: %}
            <li>
                <a href="/{{dbname}}/{{table|e}}">{{table|e}}</a>
                {% if data['children_count'] > 0 %}
                <!--<a class="text-warning" href="/{{dbname}}/{{table|e}}?show_children=1"> [children  {{data['children_count']}}]</a>-->
                <a href="/{{dbname}}/{{table|e}}?show_children=1"><span class="badge" title="Number of direct child tables. Click to show whole tree">{{data['children_count']}}</span></a>
                {% endif %}
            </li> <!-- TODO ~rowcount/size based on pg_class.relpages -->
        {% endfor %}
        </ul>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {});
    </script>
</body>
</html>